---
layout: compress
---

<!doctype html>
{% include copyright.html %}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap" rel="stylesheet">
	
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>

	<style>
	details {
		border: 1px solid #ccc;
		padding: 10px;
		margin-bottom: 10px;
		background-color: #2E3B4E;
		border-radius: 5px;
	}

	summary {
		cursor: pointer;
		font-weight: bold;
		background-color: #444; /* Dark background */
		color: white;
		padding: 5px 10px;
		border-radius: 5px;
		display: inline-block;
		transition: background-color 0.3s;
	}

	summary:hover {
		background-color: #666; /* Lighter gray on hover */
	}
	</style>


  </head>

  <body class="layout--{{ page.layout | default: layout.layout }}{% if page.classes or layout.classes %}{{ page.classes | default: layout.classes | join: ' ' | prepend: ' ' }}{% endif %}" dir="{% if site.rtl %}rtl{% else %}ltr{% endif %}">
    {% include_cached skip-links.html %}
    {% include_cached masthead.html %}

    <div class="initial-content">
      {{ content }}
      {% include after-content.html %}
    </div>

    {% if site.search == true %}
      <div class="search-content">
        {% include_cached search/search_form.html %}
      </div>
    {% endif %}

	{% if page.toc %}
	  <nav class="page__toc">
		<h3>On this page</h3>
		{% include toc.html html=content %}
	  </nav>
	{% endif %}

    <div id="footer" class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include_cached footer.html %}
      </footer>
    </div>

    {% include scripts.html %}
  </body>
</html>
